# Ignore pdf / docx
*.pdf
*.docx
!Linux Server Administration/*

# Ignore virtual environment directories
etc/
Include/
Lib/
Scripts/
share/
__pycache__

# Ignore virtual environment configuration file
pyvenv.cfg

# Virtual Environment
venv

# Environment Variables
.env
